.appanim-enter{
    opacity: 0.01;
}
.appanim-enter-active{
    opacity: 1;
    transition: opacity 1200ms ease-in;

}
.appanim-enter-done{
    opacity: 1;
}
.appanim-exit{
    opacity: 1;
}
.appanim-exit-active{
    opacity: 0.01;
  transition: opacity 1200ms ease-in;
    
}
.appanim-exit-active-done{
    opacity: 0;
}

